.content{
	width: 600px;
	height: 400px;
	background: #4343;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 0 auto;
	font-weight: bold;
	font-family: Helvetica;
	text-shadow: 4px 4px 5px rgba(150, 150, 150, 1);
}
