.content{	
	font-weight: bold;
	font-family: 'Bowlby One', sans-serif;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}

.content input{
	font-size: 20px;
	border-radius: 5px;
}

.content .block{
	min-width: 542px;
}

.content footer{
	position: absolute;
	bottom: 10px;
}

