body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ccc;
  background-image: url('./images/bg-image.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

#root{
	background: rgba(0,0,0, 0.9);
	height: 100vh;
}